<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Notes</title>
</head>

<body>
<form th:action="@{/note/add}" method="post">
    <h2>Add new Note</h2>
    <table>
        <tr>
            <td>
                Input note title:
            </td>
            <td>
                <input id="title" name="title" maxlength="20" size="15">
            </td>
        </tr>
        <tr>
            <td>
                Input note:
            </td>
            <td>
                <input id="note" name="note" maxlength="20" size="15">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Ok"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
