<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Notes</title>
</head>

<body>
<div>
    <h2>List of Notes</h2>
    <table th:each="note :${notes.listAll()}">
        <tr>
            <td><a th:text="${note.getTitle()}"></a></td>
            <td><a th:text="${note.getContent()}"></a></td>

            <td>
                <form method="GET" th:action="@{/note/edit}">
                    <button name="id" th:value="${note.getId()}" type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/note/delete}">
                    <button name="id" th:value="${note.getId()}" type="submit">Delete</button>
                </form>
            </td>

        </tr>
    </table>
    <br>

    <form method="GET" action="/note/new">
        <button>Write new note</button>
    </form>
</div>
</body>
</html>
